In [1]:
import pandas as pd

In [ ]:
# Load the dataset - using relative path that works on your Mac
df = pd.read_csv(r'/Users/lavanyalnair/Desktop/study/GSSOC-25/AI-agriculture-yield-production/Datasets/Crops_data.csv')

In [3]:
df_rice = df[['Year','State Name','Dist Name','RICE AREA (1000 ha)','RICE PRODUCTION (1000 tons)','RICE YIELD (Kg per ha)']].copy()
df_rice.head(3)

,Year,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha)
0,2010,Chhattisgarh,Durg,777.92,1319.18,1695.77
1,2011,Chhattisgarh,Durg,806.55,1416.48,1756.23
2,2012,Chhattisgarh,Durg,807.07,1534.22,1900.97

In [4]:
df_rice.isnull().sum()

Year                           0
State Name                     0
Dist Name                      0
RICE AREA (1000 ha)            0
RICE PRODUCTION (1000 tons)    0
RICE YIELD (Kg per ha)         0
dtype: int64

In [5]:
df_rice['State Name'].unique()

array(['Chhattisgarh', 'Madhya Pradesh', 'Andhra Pradesh', 'Telangana',
       'Karnataka', 'Tamil Nadu', 'Maharashtra', 'Gujarat', 'Rajasthan',
       'Punjab', 'Haryana', 'Uttar Pradesh', 'Uttarakhand', 'Assam',
       'Himachal Pradesh', 'Kerala', 'Orissa', 'West Bengal', 'Bihar',
       'Jharkhand'], dtype=object)

In [6]:
from sklearn.preprocessing import LabelEncoder
le =  LabelEncoder()
df_rice['State_en'] = le.fit_transform(df_rice['State Name'])
df_rice.head(3)

,Year,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),State_en
0,2010,Chhattisgarh,Durg,777.92,1319.18,1695.77,3
1,2011,Chhattisgarh,Durg,806.55,1416.48,1756.23,3
2,2012,Chhattisgarh,Durg,807.07,1534.22,1900.97,3

In [ ]:
# Save the processed rice data using relative path
df_rice.to_csv('../Datasets/rice_data.csv', index=False)